@import url("https://use.typekit.net/seo0cch.css");

html {
  font-family: 'bely', sans-serif;
  font-weight: 400;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-size: 1.75rem;
  color: #242424;
}

::selection {
  color: yellow;
  background: pink;
}

#top-image {
  background-color: #ededed;
  margin-left: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
  height: 100%;
}

i {
  color: black;
  font-size: 3rem;
}

h1 {
  font-family: 'bely-display', sans-serif;
  font-size: 7rem;
  margin: 0;
}

h3 {
  color: darkgray;
  margin: 0;
  font-size: 3rem;
}

#intro_txt {
  margin-left: 2vw;
  margin-bottom: 5vh;
  z-index: 100;
}

.nxt {
  text-align: right;
}

a {
  text-decoration: none;
  color: gray;
  cursor: grab;
}

a:hover {
  color: purple;
  background-color: cyan;
}

footer {
  font-family: monospace;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.pg_num {
  margin-left: 2vw;
}

.pg_num_main {
  margin-left: 2vw;
  text-decoration: underline;
}
